body{
    font-family: Courier New, Courier, monospace;
    background-image: url("/Achtergrond2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    color: #C8C5C5;
    font-weight: bold;
}

.topnav{
background-color: #767676;
overflow: hidden;
} 
.topnav a{
    padding: 15px;
    margin-right: 0px;
    border: none;
    font-family:  Avantgarde, sans-serif;
    text-decoration: none;
    color: black;
    float: left;
    font-weight: bold;
}

.topnav a:hover{
    background-color: #B1AEAE;
}

.topnav a:active{
    background-color:#B1AEAE; 
}

nav{
    margin: 0px;
    padding: 0px;
}
center{
    font-family: Helvetica, sans-serif;
    float: left;
    margin: 10px;
}
#DealButton{
    text-align: center; 
    border-radius: 8px;
}
#StandButton{
    text-align: center;
    border-radius: 8px;
}
#HitButton{
    text-align: center;
    border-radius: 8px;
}

table {
    background-color: black;
}
#Reset{
    float: left;
}